@media screen and (max-width:979px) and (min-width:768px) {
    form {
        width: 33.333%;
    }
}
/* Land Phone */
@media screen and (max-width:767px) and (min-width:501px) {
    form {
        width: 50%;
    }
}
/* Small Phone */
@media screen and (max-width:500px) {
    form {
        width: 100%;
    }
}
