*{margin: 0;
    padding: 0;
    box-sizing: border-box;}


/*shop*/
.shop{padding-top: 50px;}
.shop-left img{width: 100%;
    margin-left: 60px;

}
.shop-left{
  
  width:40%
}
.shop-right{
    width: 40%;
margin-right: 40px;margin-top: 30px;
}

.shop-div h2{margin-top: 10px;
margin-left: 20px;
color:#164277;
font-family: BerlingskeSerif, Georgia, "Times New Roman", Times, serif;
margin-top: 0.5rem;
font-weight: bold;}
.shop-div p{margin-top: 10px;
    margin-left: 20px;
color:rgb(92, 87, 87);
font-size: 18px;}
.shop-about button{margin-top: 10px;
background-color: orange;
width:140px;
height: 40px;
border-color: white;
border-style: solid;
border-radius: 8px;
margin-left: 20px;
}
.shop-about button:hover{background-color: #fad263;}
.shop-about a{text-decoration: none;
color:white}

/*service*/
.div-line1{width: 220px;
    height: 6px;
    background-color: #a7a7a7;}
    .service-info h4{color: #feb900;}
    .div-line1:hover{background-color: #feb900;}
    .service-info{width: 350px;
    height:320px;
    padding: 20px;
    border-radius: 2%;
    border-color: rgb(187, 186, 186);
    box-shadow:4px 8px 8px 4px rgba(228, 239, 245, 0.6);
    }
.service-info:hover{width: 360px;
    height:330px;
    background-color: rgb(218, 236, 243);
}
    .service-info h2{padding-left: 60px;
        padding-top: 15px;
    color: #feb900;}
    .service-img {padding-left: 100px;}
    .service-info P{color:rgb(92, 87, 87);}
.title1 h2{margin-top: 10px;
    margin-left: 20px;
    color:#164277;
    font-family: BerlingskeSerif, Georgia, "Times New Roman", Times, serif;
    margin-top: 0.5rem;
    font-weight:bold;
margin-bottom: 20px;}

*{margin: 0;
padding: 0;
box-sizing: border-box;}
/*header*/
/*navbar*/
.navbar{background-color:#fff;
    display: flex;
    justify-content: space-between;
    padding:1;
    align-items: center;
    position: fixed;
    left:0px;
    right: 0px;
    z-index: 9999;}
.navbar ul{display: flex;
    list-style: none;
justify-content: flex-end;
}
.navbar ul li{padding: 20px;
}
.navbar ul li a{text-decoration: none;
color: black;
font-weight: 600;
margin:5px;}
.navbar ul li a:hover{color: gray;}
.header{height: 100vh;
background-image: url(images/bg-image-28.jpg);
background-size: cover;
background-position: center center;
}
/*doctor*/
.client-title{text-align: center;
    color:#164277;
font-family: BerlingskeSerif, Georgia, "Times New Roman", Times, serif;
margin-top: 0.5rem;
padding-bottom: 20px;
font-weight: bold}    
/*blog swction*/
.blog-text h2{text-align: center;
    color:#164277;
font-family: BerlingskeSerif, Georgia, "Times New Roman", Times, serif;
margin-top: 0.5rem;
font-weight: bold;}
    .blog-text p{text-align: center;
        color:rgb(92, 87, 87);}
    .blog{width:33.333%;
    float: left;
    padding:20px;
    margin: 10px;
    border-radius: 2%;
    border-style: solid grey;
    box-shadow: 5px 5px 5px 5px rgb(141, 140, 140);
   
   
}   
    .inner{background-color:white;
    text-align: left;
    }
    .inner p{ margin: 0 0 15px;
        margin-left: 10px;
    }
    .inner h3 a{color:#444444;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-serif,serif);
    }
    .inner h3 a:hover{color: orange;}
    .inner a{color:#333333;
    text-decoration: none;
    margin-left: 10px;}
    .inner a:hover{color: #164277;}
    .blog img{width: 100%;}
    
    
/*seminar*/
.seminar{padding-top: 50px;}
.seminar-right img{width: 100%;
    margin-left: 60px;

}
.seminar-right{
  
  width:40%
}
.seminar-left{
    width: 40%;
    margin-right: 40px;margin-top: 30px;
}

.seminar-div h2{margin-top: 10px;
margin-left: 20px;
color:#164277;
font-family: BerlingskeSerif, Georgia, "Times New Roman", Times, serif;
margin-top: 0.5rem;
font-weight: bold;}
.seminar-div p{margin-top: 10px;
    margin-left: 20px;
color:rgb(92, 87, 87);
font-size: 18px;}
.seminar-about button{margin-top: 10px;
background-color: orange;
width:150px;
height: 40px;
border-color: white;
border-style: solid;
border-radius: 8px;
margin-left: 20px;
}
.seminar-about button:hover{background-color: #fad263;}
.seminar-about a{text-decoration: none;
color:white}
   
/*footer*/
.footer-text{padding-right: 15px;}
.footer-text h3{
    font-size:28px;
    
}
.footer-2{ padding: 20px;}
.footer-2 h3{font-size: 24px;
    color: white;

}
.footer-2 h5 a{color:black;
    text-decoration: none;
    font-size: 16px;
   
}
.footer-layer{    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;}