.parent{
    width: 100%;
    height: 100%;
    margin: 40px;
    background-color: #1e6091;

}
.container{
    width: 80%;
    margin: auto;
    padding: 20px;

 
}
 
.child{
    width: 50%;
    float: left;
   
   z-index: 33333;
   background-color: #1e6091;
   color: aliceblue;
    
    
}
.inner{
    width: 50%;
    padding: 10px;
     position: relative;
     overflow: hidden;
}
.child img{
    width: 100%;
    border-radius: 3%;
}

.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0%;
   
    background-color: rgba(20, 46, 52, 0.74);
     transition: all 1s;
      opacity: 0;
}
.inner:hover .layer{
    top: 0;
  opacity: 1;
  
}
.child2{
    width: 50%;
    float: right;

}
.child2 p{
    font-size: 20px;
    font-weight: 300;
}
form{
  width: 100%;
  height: 100%;
}
.footer{
    width: 100%;
    height: 600px;
    text-align: center;
    padding: 100px;
    background-color: #feb777;
    
}
